.button {
 
	/*basic styles*/
	width:auto;  height: 20px;  color: white; background-color: #99CF00;
	text-align: center;  font-size: 10px;  line-height: 10px; font-family:Tahoma, Geneva, sans-serif;
 
 
	/*gradient styles*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c4df9b), to(#edf7de));
	background: -moz-linear-gradient(19% 75% 90deg,#6DB700, #99CF00);
 
	/*border styles*/
	border-left: solid 1px #484b3f;
	border-top: solid 1px #484b3f;
	border-right: solid 1px #484b3f;
	border-bottom: solid 1px #484b3f;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 1px;
	-webkit-gradient(linear, 0% 0%, 0% 100%, from(#edf7des), to(#c4df9b))
 
}
 
.button h3 {
	font-size: 20px;
	line-height: 35px;
	font-family: helvetica, sans-serif;
}
 
.button p {
	font-size: 12px;
	line-height: 4px;
	font-family: helvetica, sans-serif;
}
 
a {
	text-decoration: none;
	color:#F00;
}
 
.button:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6DB700), to(#99CF00));
	background: -moz-linear-gradient(19% 75% 90deg,#99CF00, #6DB700);
}