<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Up : Where you can share your knowledge | Welcome to Django Bookmarks</title>
<style type="text/css">
#header {
	background: #333333 url({{ MEDIA_URL }}welcomepage/pic/topbg.png) repeat-x -70% 0;
}
#nav {
	float: left;
	margin: 0 0 0 20px;
	padding: 2px 0 0 0;
	color: #777;
}
#nav li a {
	display: block;
	padding: 6px 10px 7px 10px;
	text-decoration: none;
	color: #AAA;
}

#nav li#t-profile, #nav li#t-signin, #nav li#t-activity, #nav li#t-upld {
	float: right;
}
li {
	display: list-item;
	text-align: -webkit-match-parent;
}
a:link, a:visited {
	color: #4083A9;
	outline: none;
	text-decoration: none;
}
a:link, a:visited {
	color: #4083A9;
	outline: none;
	text-decoration: none;
}
#header-inner {
width: 940px;
margin: 0 auto;
padding: 10px 0;
}

#wrap {
background: #F0F0F0 url({{ MEDIA_URL }}welcomepage/pic/tile.gif) repeat -70% 0;
}

#wrap-inner {
padding: 60px 0 30px 0;
background: url({{ MEDIA_URL }}welcomepage/pic/big-fade.png) repeat-x -70% 0;
}

#content {
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding: 0;
	font-size: 1.2em;
}

#footer {
border-top: 1px solid #DDD;
}

#footer-inner {
	width: 940px;
	margin: 0 auto;
	padding: 20px 30px;
	font-size: 1.2em;
	color: #999;
}
#foot-des {
	color:#9f9999;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}
#foot-des2 {
	color:#9f9999;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
}
#logo {
float: left;
margin: 2px 0 0 0;
}
#upname1{
	font-family:"Sans-serif", Arial , Verdana;
	color:#ffffff;
	font-size:22px;
	font-weight:bold;
	text-shadow: 0px 1px 1px #999;
}
#upname2{
	font-family:"Sans-serif", Arial , Verdana;
	color:#aaaa9f;
	font-size:12px;
	font-weight:normal;
}
#menuleft{
	width:30%; 
	float:left;
	height:65px;
}

#loginform{
	position: relative;
	margin: 0 auto;
	padding: 0;
	font-size: 1.2em;	
	background:#0F3;
}

div.the-shot {
float: left;
margin: 0 0 10px 0;
width: 440px;
}

<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
<link rel="stylesheet" href="{{ MEDIA_URL }}welcomepage/csswel/style_common.css">
<link rel="stylesheet" href="{{ MEDIA_URL }}welcomepage/csswel/reset.css">
<link rel="stylesheet" href="{{ MEDIA_URL }}welcomepage/csswel/style1.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/buttonlogin.css" />

<style type="text/css">
<!--
body,td,th {
	font-family: Verdana, Geneva, sans-serif;
}
-->
</style></head>
{% if user.is_authenticated %}
		<META HTTP-EQUIV="Refresh" CONTENT="0;URL=/user/{{ user.username }}">
{% endif %}
<body>
<div id="header" class="group">
    <div id="header-inner" class="group">
        <div align="left">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="56">
                        &nbsp;<img src="{{ MEDIA_URL }}welcomepage/pic/logohome.png" align="baseline" alt="Up : Where you can share your knowledge | Welcome to Django Bookmarks"></img><br>
                    </td>
                    <td width="542" align="left" valign="top">
                          <br /><a id = "upname1" >Social Bookmark</a><br />
                          <a id = "upname2" >The Place For Storing Your URL</a>   
                    </td>
                    <td width="138" align="right" valign="middle">
                        <ul id="nav"><li id="t-signup">
							<a href="/">
								<span>
								{% if user.is_autheSSnticated %}
								{% else %}
								<img src="{{ MEDIA_URL }}welcomepage/pic/login_logo.png" width="22" height="22" />&nbsp;Log in
								{% endif %}
								</span>
							</a>		
                        </li>
                        </ul>
                  </td>
                    <td width="204" align="right" valign="middle">
               	  <form id="search" action="/search_index/">
							<input id="search-text" type="text" name="q" placeholder="Search" value="" class="placeholder">
						</form>
                    </td>
              </tr>
            </table>
        </div>
    </div>
</div>


<!-------------------------->

<div id="wrap">
<div id="wrap-inner">
        <div id="content">

                
                <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
                  <tr>
                    <td width="47%">
						<div class="view view-first">
							<img src="{{ MEDIA_URL }}welcomepage/pic/people1.jpg">
								<div class="mask">
                					<br />
                                    <h2>Totally Free Registration</h2><br />
                                    <p>Up is the place that you can sharing and keep your URL<br />
                                    In every where, every times and on every computer.<br />
                                    Online bookmark - great tool if you browse web <br />
                                    using different PCs and browsers.<br />
                                    Personal Learning Network for sharing and discovery.
                        			</p>
                        			<a href="/" class="info">Log in</a>
								</div>
                		</div>
                    </td>
                    <td align="left" valign="top" bgcolor="#2a2a2a"><img src="{{ MEDIA_URL }}welcomepage/pic/line4.jpg" width="4" height="289" />
                    </td>
                    <td align="center" valign="middle" bgcolor="#2a2a2a"><a id="upname1">User Registration</a>
                            {% if user.is_authenticated %}
                              <META HTTP-EQUIV="Refresh" CONTENT="0;URL=/">
                            {% endif %}
					  <br />
							<form method="post" action="">{% csrf_token %}
                            	

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="33%" height="30" align="right" valign="middle" bgcolor="#E7FFEF"><a id = "upname2" >Username&nbsp;</a></td>
    <td width="64%" height="30" align="left" valign="middle" bgcolor="#E7FFEF">{{ form.username }}<br /></td>
  </tr>
  <tr>
    <td height="30" align="right" valign="middle" bgcolor="#E7FFEF"><a id = "upname2" >E-mail&nbsp;</a></td>
    <td align="left" valign="middle" bgcolor="#E7FFEF">{{ form.email }}<br /></td>
  </tr>
  <tr>
    <td height="30" align="right" valign="middle" bgcolor="#FFEFEC"><a id = "upname2" >Password&nbsp;</a></td>
    <td align="left" valign="middle" bgcolor="#FFEFEC">{{ form.password1 }}</td>
  </tr>
  <tr>
    <td height="30" align="right" valign="middle" bgcolor="#FFEFEC"><a id = "upname2" >Password (Again)&nbsp;</a></td>
    <td align="left" valign="middle" bgcolor="#FFEFEC">{{ form.password2 }}</td>    
  </tr>
 
 <tr>
    <td width="33%" height="30" align="right" valign="middle" bgcolor="#FFFFCC"><a id = "upname2" >FirstName&nbsp;</a></td>
    <td width="64%" align="left" valign="middle" bgcolor="#FFFFCC">{{ form.first_name }}<br /></td>
  </tr>
  <br />
  <tr>
    <td height="30" align="right" valign="middle" bgcolor="#FFFFCC"><a id = "upname2" >LastName&nbsp;</a></td>
    <td align="left" valign="middle" bgcolor="#FFFFCC">{{ form.last_name }}<br /></td>
  </tr>
  
</table><br /><input class="button" type="submit"  value="Register" />
							</form>
 <a id="upname2">{% if form.errors %} {{ form.errors }} {% endif %}</a>
                    <!---------------------------->
                    </td>
                  </tr>
                </table>
		</div>
  </div>
</div>
</div>

<script id="_waul94">var _wau = _wau || [];
_wau.push(["tab", "0cg7yk1sgsp7", "l94", "left-lower"]);
(function() {var s=document.createElement("script"); s.async=true;
s.src="http://widgets.amung.us/tab.js";
document.getElementsByTagName("head")[0].appendChild(s);
})();</script>


<div id="footer">
<div id="footer-inner">
  <div align="right">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="82%" rowspan="5" align="left">
    <p id="foot-des">Copyright © 2009-2012 UP. All URL © Their respective owners.<hr align="left" width="450"  /></p>
    <p id="foot-des2"><font color="#6c6c6c">Up </font> : Where you can share your knowledge</p>
    <p id="foot-des"><br />Handcrafted in Cpr.E, KMUTNB. Hosted by <font color="#6c6c6c" ><strong>Computer Engineering KMUTNB.</strong></font><br /><br /></p>
    <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p></td>
    <td width="5%" rowspan="2" align="right" valign="top"><img src="{{ MEDIA_URL }}welcomepage/pic/bmarkicon.png" width="35" height="35" /></td>
    <td width="13%" align="center" valign="middle"><font face="Verdana, Geneva, sans-serif" color="#000000">{{ count }}</font></td>
    
  </tr>
  <tr>
    <td height="33" align="left" valign="top"><a id = "upname2" >URL Sharing on site</a></td>
  </tr>
  <tr>
    <td colspan="2" align="center" valign="top" bgcolor="#CCCCCC">    
    <p id="foot-des"><font color="#666666">You Can Follow Us On.</font></p>
    </td>
    </tr>
  <tr>
    <td colspan="2" align="right" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="14%" align="right"><img src="{{ MEDIA_URL }}welcomepage/pic/twitt.png" width="25" height="21" alt="UP's twitter" /></td>
        <td width="32%"><font color="#6c6c6c" size="-1" face="Verdana, Geneva, sans-serif"><strong>&nbsp;Twitter</strong></font></td>
        <td width="13%"><img src="{{ MEDIA_URL }}welcomepage/pic/facebook.png" width="25" height="25" alt="UP's facebook." /></td>
        <td width="41%"><font color="#6c6c6c"  size="-1" face="Verdana, Geneva, sans-serif"><strong>&nbsp;Facebook</strong></font></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="2" align="right" valign="top">&nbsp;</td>
  </tr>
  </table>
  </div>
</div>
</div>
</body>
</html>

