
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<title>Up : Where you can share your knowledge | {% block title %}{% endblock %}</title>

<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" />
<link href="{{ MEDIA_URL }}css/main_page/mainpage.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/buttontag.css" />
<style type="text/css">
<!--
	
body,td,th {
	font-family: MS Serif, New York, serif;
	font-size: 16px;
}
-->

</style>



<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>
<body onLoad="MM_preloadImages('{{ MEDIA_URL }}images/groupac_on.png','{{ MEDIA_URL }}images/myurl_on.png','{{ MEDIA_URL }}images/hoturl_on.png','{{ MEDIA_URL }}images/mynw_on.png')">
<div id="containner">
       	<div id="menu">
        		<div id="menuleft">
        		  <table width="387" border="0" cellspacing="0" cellpadding="0">
        		    <tr>
        		      <td width="50">&nbsp;<img src="{{ MEDIA_URL }}images/logohome.png" align="baseline" alt="Up : Where you can share your knowledge | Welcome to Django Bookmarks"  width="43" height="69"> </img><br></td>
        		      <td width="337" align="left" valign="top">
                      <ul>
                      <li id = "upname1" >Social Bookmark</li>
                      <li id = "upname2" >The Place For Storing Your URL</li>
                      </ul>
                      </td>
      		      </tr>
      		      </table>
          		</div>
                
                
              
				<!----------------------------------------- Start Userinfo ------------------------------------------------>
                
            	<div id="menuright" align="right">
				<table align="right">
               	  <tr align="left">
                  <p id="userinfo"><b><i>Hello </i></b>
                    <img src="{{ MEDIA_URL }}images/earthlogo.gif" alt="Online">
                    <span class="style3" >&nbsp;Welcome&nbsp;&nbsp;&nbsp;{{ user.first_name }}&nbsp; {{ user.last_name }}&nbsp;&nbsp;</span><span class="style5">|</span> <span class="style4"><a href="/user/{{ user.username }}">Profile</a></span> <span class="style5">|</span> <span class="style4"><a href="/logout/">Log Out</a></span>&nbsp;&nbsp;</p>
                    <p id="userinfo" style="color:#f1a33f"> 
                     
                                          <p id="userinfo" style="color:#f1a33f">
                    </tr>
                     
                     </p>
                  </tr>
                </table>
            	</div>
				<!----------------------------------------------- End User Info ------------------------------------------->
                
              
                
  </div>       
					<div id="search"><center>
                    	<table width="93%" height="31" border="0" cellspacing="0" cellpadding="0">
                        <tr height="10px"></tr>
                          <tr>
                          	<td width="15%" height="30" align="right"><img src="{{ MEDIA_URL }}images/left.png"></td>
                            <td width="15%" align="left" valign="middle" ><a href="/user/{{ user.username }}"><img src="{{ MEDIA_URL }}images/myurl.png" alt="My URL" border="0" id="Image2" onMouseOver="MM_swapImage('Image2','','{{ MEDIA_URL }}images/myurl_on.png',1)" onMouseOut="MM_swapImgRestore()"></a></td>
                            <td width="15%" align="left" valign="middle" ><img src="{{ MEDIA_URL }}images/mynw.png" alt="My Network" name="Image4" border="0" id="Image4" onMouseOver="MM_swapImage('Image4','','{{ MEDIA_URL }}images/mynw_on.png',1)" onMouseOut="MM_swapImgRestore()"></td>
                            <td width="15%" align="left" valign="middle"><a href="/hot/"><img src="{{ MEDIA_URL }}images/hoturl.png" alt="Hot URL" border="0" id="Image3" onMouseOver="MM_swapImage('Image3','','{{ MEDIA_URL }}images/hoturl_on.png',1)" onMouseOut="MM_swapImgRestore()"></td>
                            <td width="15%" align="left" valign="middle"><img src="{{ MEDIA_URL }}images/groupac.png" alt="Group Activity" border="0" id="Image1" onMouseOver="MM_swapImage('Image1','','{{ MEDIA_URL }}images/groupac_on.png',1)" onMouseOut="MM_swapImgRestore()"></td>
                            <td width="15%" align="left" valign="middle"><img src="{{ MEDIA_URL }}images/right.png"></td>
                          </tr>
                        </table>
                        </center>
                    </div>
                   
					<!------------------------------------------------start main content --------------------------------->
					
					
					<!------------------------------------------------content left --------------------------------->
					<div id="contenleft">
				    <table width="200" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><br>
                              <img src="{{ MEDIA_URL }}images/userdisplay.jpg" width="50" height="50" border="1"><br>
                              	<p id="fontleftmenu" style="font-weight:bolder">Welcome<br></p><p id="fontleftmenu" style="border:thin">{{ user.first_name }}&nbsp; {{ user.last_name }}</p>
                           		<hr width="170" align="center" size="1" noshade color="#cccccc">
                                </td>
                          </tr>
                            <td align="left" height="10px"><p id="fontleftmenu" style="color:#09F">﻿&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your Tags List</p></td>
                          <tr align="left" valign="top">
                          <td align="left" height="60px" valign="top">
                            	<font id="fontleftmenu" style="color:#a1a1a1">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tags 1<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tags 2<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tags 3<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tags 4<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tags 5<br><br>
                                <span class="style4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Show More ...<br></span>
                                </p>
                            </td>
                          </tr>
                          
                          <td align="left" height="10px"><p id="fontleftmenu" style="color:#09F">﻿&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your Lacture List</p></td>
                          <tr align="left" valign="top">
                          <td align="left" height="60px" valign="top">
                            	<font id="fontleftmenu" style="color:#a1a1a1">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lacture 1<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lacture 2<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lacture 3<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lacture 4<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lacture 5<br><br>
                                <span class="style4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Show More ...<br></span>
                                </p>
                            </td>
                          </tr>
                          
                        </table>
                          <td align="left" height="10px"><p id="fontleftmenu" style="color:#09F">﻿&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Popular People</p></td>
                          <tr align="left" valign="top">
                          <td align="left" height="60px" valign="top">
                            	<font id="fontleftmenu" style="color:#a1a1a1">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Person 1<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Person 2<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Person 3<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Person 4<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Person 5<br><br>
                                <span class="style4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Show More ...<br></span>
                                </p>
                            </td>
                          </tr>
                          <br><br>
                        </table>
                            
                          	</td>
                            
					</tr>
                    </table>
                        
                        
                        
					</div>
                  <!------------------------------------------------ end content left  --------------------------------->
               
                 
                  
                   <!------------------------------------------------ Start content right  --------------------------------->
                    <div id="contentright">
                   <table width="100%" height="196" border="0" align="left" cellpadding="25" cellspacing="0">
					<tr bordercolor="#999999">
                       
                            <td width="664" align="center" valign="top">
                          	<!--<table width="95%">
 								<tr>
                                  <td id="H" align="left" valign="top">
                                  	{% if bookmarks %}
									{% for bookmark in bookmarks %}
                                    	<a href="{{ bookmark.link.url }}">{{ bookmark.link.url }}</a>
                                        {% if show_tags %}
                                        	<ul class="tags">
											Tags:  {% for tag in bookmark.tag_set.all %}
											<a href="/tag/{{ tag.name|urlencode }}/">{{ tag.name|escape }}</a> |
									{% endfor %}
											</ul>
									{% else %}
										None Tag Yet.
									{% endif %}
                                    
                                    {% endfor %}
									{% else %}
										<center>No bookmarks found.</center>
									{% endif %}
                                  </td>
								</tr>
                          	</table>-->
                         

                           
                           
                            
  					</div>
  					
                     
                   
                    
                    <!------------------------------------------------ End content right  --------------------------------->

</div> 	{% block mainpage %}{% endblock %}
</body>
</html>
