{% extends "base_login.html" %}
{% load comments %}
{% load mylimite %}
{% block title %}Bookmark:
{{ shared_bookmark.bookmark.title|escape }}{% endblock %}
{% block head %}
	<a href="/vote/?id={{ shared_bookmark.id }}"
	class="vote">[+]</a>
	<a href="{{ shared_bookmark.bookmark.link.url }}" class="title">
	{{ shared_bookmark.bookmark.title|escape }}</a>
{% endblock %}
{% block content %}

{% if bookmark.status or bookmark.user_id == user.id %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="6%" rowspan="2" align="right" valign="top">
              
              </td>
              <td width="12%" rowspan="2" align="left" valign="top">
              
					<a class="savePeopleCount" style="background-image:url({{ MEDIA_URL }}/images/boxcount.png)">
        			<strong>{{ shared_bookmark.votes }}</strong>People
      			</a>
              </td>
              <td width="50%" align="left" valign="bottom"><a href="{{ shared_bookmark.bookmark.link.url }}" class="title">
          {{ shared_bookmark.bookmark.title|escape }}</a></td>
              <td width="32%">&nbsp;</td>
        </tr>
            <tr>
              <td align="left" valign="bottom"><a href="/vote/?id={{ shared_bookmark.id }}" class="vote"><img src="{{ MEDIA_URL }}/images/uping.png" width="18" height="18" alt="Up" /></a>&nbsp;Post by : <a href="/profile/{{ shared_bookmark.bookmark.user.username }}/" class="username">
                  {{ shared_bookmark.bookmark.user.username }}</a>
		<br />
		&nbsp;&nbsp;{{ shared_bookmark.bookmark.date_add|timesince }}&nbsp;&nbsp;ago
		<br />
                                      </p>
                
                </td>
              <td>&nbsp;</td>
        </tr>
            <tr>
              <td width="6%">&nbsp;</td>
              <td>&nbsp;</td>
              <td colspan="2" align="left" valign="bottom"><hr color="#D7D7D7" size="1">

		
		{% get_comment_count for marking.sharedbookmark shared_bookmark.id as comment_count %}
		{% get_comment_list for marking.sharedbookmark shared_bookmark.id as comment_list %}
		
		<h2>{{ comment_count }} Comments</h2>
<div style="background-color:#ffffff" width="150">
{% for comment in comment_list %}
<table widht="600px" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tr valign="top">	
	<td width="10px">&nbsp;</td>
	<td>
		
		<img src="{{ MEDIA_URL }}images/userdisplay.jpg" border="1" width="30px" height="30px">
	</td>
	<td width="15px">&nbsp;</td>
		<td>
		<a href="/profile/{{ comment.user.username }}/"><b>{{ comment.user.username }}</b></a>
		<font color="#2c2c2c">{{ comment.comment|escape|urlizetrunc:40 }}</font><br>
		{{ comment.submit_date|timesince }} ago.
		</td>
</tr>
</table>
<hr color="#D7D7D7" size="1">
{% empty %}

{% endfor %}
</div>

		{% render_comment_form for marking.sharedbookmark shared_bookmark.id %}		

		</td>
        </tr>
        <br />
      </table>
    </td>
  </tr>
</table>
{% else %}
	<center><br><br><br><br><br><br>
	<img src="{{ MEDIA_URL }}/images/notfound.jpg" alt="Not Found" />
	<br><br><br><img src="{{ MEDIA_URL }}/images/errorlogo.png" alt="Not Found" />&nbsp;We can't find the page you looking for.<br>Or Maybe You don't have permission to see it.<br><br><br><br><br><br>
	<center>
{% endif %}
{% endblock %}
{% block popula %}
{% if people %}
	{% for to_friend in people %}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ MEDIA_URL }}images/starlogo.png" width="15" height="15" border="0">&nbsp;<a href="/profile/{{ to_friend }}" target="_blank"><font color="#39b54a">&nbsp;<b>{{ to_friend.username|mylimite:15 }}</b></font></a><br>
	{% endfor %}
{% endif %}
{% endblock %}
{% block pic1 %}myurl.png{% endblock %}
{% block pic2 %}mynw.png{% endblock %}
{% block pic3 %}hoturl.png{% endblock %}
{% block pic4 %}groupac.png{% endblock %}

{% block yourtag %}
{% if allbookmark %}
	{% for bookmark in allbookmark %}
		{% if bookmark.tag_set.all %}  
               
			{% for tag in bookmark.tag_set.all %}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ MEDIA_URL }}images/starlogo.png" width="15" height="15" border="0">&nbsp;<a href="/tag/{{ tag.name|urlencode }}" id="upname2"><font color="#39b54a">&nbsp;<b>{{ tag.name|escape }}</b></font></b></font></a><br>			
			{% endfor %}

		{% endif %}
	{% endfor %}
{% else %}
    		<br /><center>No Tag.</center><br />
{% endif %}
{% endblock %}
