{% extends "base_login.html" %}

{% block title %}Django Bookmarks List{% endblock %}
{% block head %}Django Bookmarks List{% endblock %}

{% block content %}
  {% if user.username %}
    <p>Show List bookmarks By:: {{ user.username }}! </p>
  {% else %}
    <p>Plese<a href="/login">Login</a> 
      before you can store and share bookmarks.</p>
  {% endif %}
{% endblock %}
