
{% extends "index.html" %}



{% block title %} Index Page {% endblock %}
{% block head %} ##Index## {% endblock %}

{% block content %}
  {% if user.username %}
    <p>Welcome {{ user.username }}! 
      Here you can store and share bookmarks!</p>
     <!-- <META HTTP-EQUIV="Refresh" CONTENT="0;URL=/user/{{ user.username }}"> -->
  {% else %}
    <p>Welcome to Up Bookmarking
      You need to <a href="/login">Login</a> or  <a href="/register">Register</a> 
      before you can store and share bookmarks.</p>
  {% endif %}
  
  <!----------------------------------------------- Public Bookmark------------------------------------------>
  			{% if user.is_authenticated %}
 					 <h2>Bookmarks Shared by Users</h2>
						<p>{% include 'shared_bookmark_list.html' %}
 			{% endif %}
<!----------------------------------------------- End Public Bookmark ------------------------------------------->


{% endblock %}
