{% load comments %}

		
{% get_comment_count for marking.sharedbookmark shared_bookmark.id as comment_count %}
{% get_comment_list for marking.sharedbookmark shared_bookmark.id as comment_list %}

{#Count Comments : {{ comment_count }} <br>#}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
{% if comment_list%}
{% for comment in comment_list %}
	<tr>
		<td>Comment by : <a href="/profile/{{ comment.user.username }}/"><b>{{ comment.user.username }}</b></a><br></td>
	</tr>
	<tr>
		<td><font color="#2c2c2c">{{ comment.comment|escape|urlizetrunc:40 }}</font><br></td>
	</tr>
{% empty %}

{% endfor %}
{% else %}
	<tr>
		<td>No Comment</td>
	</tr>
{% endif %}
</table>