<table width="100%" border="0">
{% if bookmarks %}
<tr><td>All Bookmark: {{ bookmarks.count }}<br><hr></td></tr>
	<tr><td>{% for bookmark in bookmarks %}  [{{ bookmark.status }}]</tr></td>
	<tr><td>{{ bookmark.title }} By {{ bookmark.user }}<br></tr></td>
	{% endfor %}
{% else %}
	<tr><td>No Bookmark Found.</tr></td>
{% endif %}
</table>


