<html>
<head></head>
<body>
<table border='0'><font color="red">
{% if yousee_bookmarks %}
<tr><td>All Your can see Bookmark: {{ yousee_bookmarks.count }}</tr></td>
	{% for bookmark in yousee_bookmarks %}<tr><td>  [{{ bookmark.status }}]</tr></td>
		<tr><td>{{ bookmark.title }} By {{ bookmark.user }}</tr></td>
	{% endfor %}<hr>
{% endif %}
</font></table>
</textarea>
</body>

{#{% if bookmarks %}#}
{#All Bookmark: {{ bookmarks.count }}<br>#}
{#	{% for bookmark in bookmarks %}  [{{ bookmark.status }}]#}
{#		{{ bookmark.title }} By {{ bookmark.user }}<br>#}
{#	{% endfor %}<hr>#}
{#{% endif %}#}

{#{% if private_bookmarks %}#}
{#All Private Bookmark: {{ private_bookmarks.count }}<br>#}
{#	{% for bookmark in private_bookmarks %}  [{{ bookmark.status }}]#}
{#		{{ bookmark.title }} By {{ bookmark.user }}<br>#}
{#	{% endfor %}<hr>#}
{#{% endif %}#}

{#{% if public_bookmarks %}#}
{#All Public Bookmark: {{ public_bookmarks.count }}<br>#}
{#	{% for bookmark in public_bookmarks %}  [{{ bookmark.status }}]#}
{#		{{ bookmark.title }} By {{ bookmark.user }}<br>#}
{#	{% endfor %}<hr>#}
{#{% endif %}#}

{#{% if your_bookmarks %}#}
{#All Your Bookmark: {{ your_bookmarks.count }}<br>#}
{#	{% for bookmark in your_bookmarks %}  [{{ bookmark.status }}]#}
{#		{{ bookmark.title }} By {{ bookmark.user }}<br>#}
{#	{% endfor %}<hr>#}
{#{% endif %}#}



