
{% if shared_bookmarks %}
	{% for shared_bookmark in shared_bookmarks %}
			
			<table width="100%" border="0" color="yellow">
			<tr>
				<td>Title : <a href="{{ shared_bookmark.bookmark.link.url }}">{{ shared_bookmark.bookmark.title|escape }}</a><br></td>
			</tr>
			<tr>
				<td>Vote count : {{ shared_bookmark.votes }}<br></td>
			</tr>
			<tr>
				<td>By : {{ shared_bookmark.bookmark.user.username }}<br></td>
			</tr>
			<tr>
				<td>{% for User in shared_bookmark.users_voted.all %}
					{{ User }} |
				{% endfor %}</td>
			<hr>
			</tr>

			</table>															
			
	{% endfor %}
{% else %}
	
{% endif %}
