{% extends "base_view_comment.html" %}
{% load i18n %}

{% block title %}{% trans "Preview your comment" %}{% endblock %}

{% block content %}
  {% load comments %}
  <tabel width="100%" border="0" cellspacing="0" celpadding="0">
	<tr>
	<td width="300">&nbsp;</td>
	<td align="left" valign="top">
		<form action="{% comment_form_target %}" method="post">{% csrf_token %}
		    {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
		    {% if form.errors %}
		    <h1>{% blocktrans count counter=form.errors|length %}<img src="{{ MEDIA_URL }}/images/commentballoon.gif" width="18" height="18" alt="Comment" /> Comment can't empty.{% plural %}Comment can't be empty.{% endblocktrans %}</h1>
		    {% else %}
		    <h1><img src="{{ MEDIA_URL }}/images/commentballoon.gif" width="18" height="18" alt="Up" /> {% trans "Preview your comment" %}</h1>
		      Your Comment is :<table><tr bgcolor="red">
			<blockquote>{{ comment|linebreaks }}</blockquote>
			</tr></table>
		      <p>
		      
		      </p>
		    {% endif %}
		    {% for field in form %}
		      {% if field.is_hidden %}
			<div>{{ field }}</div>
		      {% else %}
			{% if field.errors %}{{ field.errors }}{% endif %}
			<p
			  {% if field.errors %} class="error"{% endif %}
			  {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
				  {% if field.label == "Comment" %}
					{{ field }}
				  {% else %}
					
				  {% endif %}
			</p>
		      {% endif %}
		    {% endfor %}
		    <p class="submit">
		    <input type="submit" name="submit" class="submit-post" value="{% trans "Post" %}" />
		    <input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}" />
		    </p>
		  </form>
	</td>
	<td width="300">&nbsp;</td>
	</tr>
  </table>
{% endblock %}


{% block pic1 %}myurl.png{% endblock %}
{% block pic2 %}mynw.png{% endblock %}
{% block pic3 %}hoturl.png{% endblock %}
{% block pic4 %}groupac.png{% endblock %}


